@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body{
    margin: 0px;
    background: hsl(0, 0%, 8%);
    color: white;
    font-family: 'Inter';
}

.container{
    justify-items: center;
    align-content: center;
    height: 100vh;
}

.card{
    width: 340px;
    height: 600px;
    background: hsl(0, 0%, 12%);
    justify-items: center;
    font-size: 14px;
    border-radius: 20px;
}

img{
    width: 93px;
    height: 93px;  
    border-radius: 50%;
    margin-top: 24px;
    margin-left: 124px;
}

h1{
    font-size: 24px;
    line-height: 150%;
    margin-top: 26px;
}

h2{
    line-height: 10%;
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

h3{
    line-height: 150%;
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 14px;
}
button{
    margin-bottom: 15px;
    width: 290px;
    height: 48px;
    margin-left: 25px;
    background: hsl(0, 0%, 20%);
    color:white;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}

button:hover{
    background: hsl(75, 94%, 57%);
    color: black;
}